{% block map_type_widget %}
    <script>
        $(function(){

            $(document).on("change","[data-toggle='service-selector']", function(){
                let $this = $(this);
                if(!$this.val()){
                    return;
                }
                loadConfigForm($($this.data('target')), $this.val())
            });

            $(document).on("click","[data-toggle='add-before-prototype']", function(){
                let $this = $(this);
                let counter = 0;
                $this.parents('.slot-container').find("input[data-toggle='num-input']").each(function(){
                    counter = parseInt($(this).val()) > counter ? parseInt($(this).val()) : counter;
                });

                $this.before($this.data('prototype').replaceAll('___NUM___', counter + 1));
                Admin.shared_setup(document);
            });

            $(document).on("click","[data-toggle='ajax-change-num']", function(){
                let $this = $(this);
                $.ajax({
                    dataType: 'html',
                    url: '{{ path('page_ajax_change_num') }}?psn='+$this.data('psn'),
                    method: 'POST',
                    data: {num: $this.prev().val()}
                });
            });

            $(document).on("click","[data-toggle='remove-from-slot']", function(){
                if(confirm('Удалить блок?')){
                    let $this = $(this);
                    $.ajax({
                        dataType: 'html',
                        url: '{{ path('page_ajax_remove_from_slot') }}?psn='+$this.data('psn'),
                        method: 'DELETE'
                    })
                    .done(function(response) {
                        $($this.data('target')).remove();
                    });
                }
            });
            $(document).on("click","[data-toggle='load-config-form']", function(){
                let $this = $(this);
                // console.log( $this.parent().parent().find('[data-toggle="service-selector"]'));
                loadConfigForm($($this.data('target')), $this.parent().parent().parent().find('[data-toggle="service-selector"] option:selected').attr('value'))
            });

            function loadConfigForm(target, pssn){
                if(!pssn){
                    return;
                }
                $.ajax({
                    dataType: 'html',
                    url: '{{ path('page_ajax_form_config') }}?pssn='+pssn,
                    method: 'GET'
                })
                .done(function(response) {
                    target.html(response);
                    Admin.shared_setup(document);
                });
            }

            $(document).on("click","[data-toggle='save-config-form']", function(){
                let $this = $(this);
                let data = $this.parent().parent().find(':input').serializeArray();
                $this.parent().parent().find(':button').each(function(){
                    data.push({name: $(this).attr('name'), value: ''});
                });
                $.ajax({
                    dataType: 'html',
                    url: '{{ path('page_ajax_form_config') }}?pssn='+$this.data('pssn'),
                    method: 'POST',
                    data: data
                })
                .done(function(response) {
                    $($this.data('target')).html(response);
                });
            });
        });
    </script>

    {% for slot in page.template.slots %}
        <div class="panel panel-info slot-container">
            <div class="panel-heading">
                <a class="" data-toggle="collapse" href="#slot-{{ slot }}-body" role="button" aria-expanded="true" aria-controls="slot-{{ slot }}-body">
                    {{ slot }}
                </a>
            </div>
            <div class="panel-body collapse in" aria-expanded="true" id="slot-{{ slot }}-body">
                {% set lastNum = 0 %}
                {% for num,config in page.getSlotConfig(slot) %}
                    {{ _self.configForm(services, config, slot, num, page) }}
                    {% set lastNum = num %}
                {% endfor %}
                <i style="cursor: pointer" data-counter="{{ lastNum }}" class="fas fa-plus-circle text-primary" aria-hidden="true" data-toggle="add-before-prototype" data-prototype="{{ _self.configForm(services, {'config':[], 'service':''}, slot, '___NUM___', page)|e }}"></i>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% macro configForm(services, config, slot, num, page) %}
<div class="panel panel-default" id="slot-config-{{ slot }}-{{ num }}">
    <div class="panel-heading">
        {% set psn = page.id ~'__'~ slot~ '__'~ num %}
        <i aria-hidden="true" title="Удалить" style="cursor: pointer" class="fa fa-remove text-danger" data-psn="{{ psn }}" data-toggle="remove-from-slot" data-target="#slot-config-{{ slot }}-{{ num }}"></i>
        <a class="" data-toggle="collapse" href="#slot-config-{{ slot }}-{{ num }}-body" role="button" aria-expanded="true" aria-controls="slot-config-{{ slot }}-{{ num }}-body">
            block #
        </a>
        <input type="number" value="{{ num }}" autocomplete="off" data-toggle="num-input"/>
        <i
                aria-hidden="true"
                style="cursor: pointer"
                class="fa fa-check-square text-success"
                data-toggle="ajax-change-num"
                data-psn="{{ psn }}"></i>
    </div>
    <div class="panel-body collapse in" id="slot-config-{{ slot }}-{{ num }}-body" aria-expanded="true">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label required">Service</label>
                    <div class="sonata-ba-field">
                        <select data-toggle="service-selector" data-target="#{{ slot }}-config-container-{{ num }}" autocomplete="off">
                            <option value=""></option>
                            {% set pssn = null %}
                            {% for service in services %}
                                <option {% if service==config.service %}{% set pssn = page.id ~'__'~ slot~ '__'~ service~'__' ~ num %}selected="selected" {% endif %}value="{{ page.id }}__{{ slot }}__{{ service }}__{{ num }}">{{ service }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="{{ slot }}-config-container-{{ num }}">
{#                <i aria-hidden="true" style="cursor: pointer" class="fa fa-pencil text-primary" data-toggle="load-config-form" data-target="#{{ slot }}-config-container-{{ num }}"></i>#}
                {% if pssn %}
                    {{ render(controller('Page\\Controller\\AjaxController::renderConfigFormFromSrv',{'pssn':pssn})) }}
                {% endif %}

{#                <button type="button" data-toggle="load-config-form" data-target="#{{ slot }}-config-container-{{ num }}">edit</button>#}
            </div>
        </div>
    </div>
</div>
{% endmacro %}
